body{
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.output-text{
    width: 50vw;
    height: 100vh;
    border: 1px solid black;
    overflow:scroll;
}

.input-text{
    width: 50vw;
    height: 80vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

tab{
    margin-left: 2rem;
    display: inline-block;
}

p{
    margin:7px 0;
}

yellow{
    color: #CD853F
}

blue{
    color: blue;
}

green{
    color: green;
}

red{
    color:#FF1493
}

span{
    color: blue;
}
